ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.main-menu li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.main-menu li a.active {
    background-color: #d9b3ff;
    color: white;
}

.main-menu li a:hover:not(.active) {
    background-color: #f2e6ff;
    color: white;
}

/* Table style  */

.transcript-table {
	margin-left:25%;
	padding:1px 16px;
	height:1000px; 
	margin-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #d9b3ff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2e6ff;
}
